flow.json
[
    {
        "id": "0b8b820c975328c6",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "45f2c7f5294955ad",
        "type": "tab",
        "label": "Flow 6",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "34656a757a45cbf6",
        "type": "inject",
        "z": "0b8b820c975328c6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 140,
        "wires": [
            [
                "759b0a07d7e59b46"
            ]
        ]
    },
    {
        "id": "759b0a07d7e59b46",
        "type": "link out",
        "z": "0b8b820c975328c6",
        "name": "",
        "mode": "link",
        "links": [],
        "x": 415,
        "y": 140,
        "wires": []
    },
    {
        "id": "4eae25e350fbac52",
        "type": "link in",
        "z": "45f2c7f5294955ad",
        "name": "",
        "links": [],
        "x": 285,
        "y": 160,
        "wires": [
            [
                "e2a15cdc93207356"
            ]
        ]
    },
    {
        "id": "e2a15cdc93207356",
        "type": "debug",
        "z": "45f2c7f5294955ad",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 160,
        "wires": []
    }
]