flow.json
[
    {
        "id": "0b8b820c975328c6",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8df5559fad6d5134",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "34656a757a45cbf6",
        "type": "inject",
        "z": "0b8b820c975328c6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 140,
        "wires": [
            [
                "759b0a07d7e59b46"
            ]
        ]
    },
    {
        "id": "759b0a07d7e59b46",
        "type": "link out",
        "z": "0b8b820c975328c6",
        "name": "",
        "mode": "link",
        "links": [],
        "x": 415,
        "y": 140,
        "wires": []
    },
    {
        "id": "4e5a9d5eac2607dc",
        "type": "link in",
        "z": "8df5559fad6d5134",
        "name": "",
        "links": [],
        "x": 255,
        "y": 160,
        "wires": [
            [
                "490626fc271b330f"
            ]
        ]
    },
    {
        "id": "490626fc271b330f",
        "type": "debug",
        "z": "8df5559fad6d5134",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 160,
        "wires": []
    }
]